<div class="center jumbotron">
  <h1>Alphablog</h1>
  <%= link_to 'Sign up now', "signup", class:"btn btn-danger btn-primary btn-xlarge btn-lg" %>	
  <%= link_to 'Login', "login", class:"btn btn-success btn-primary btn-xlarge btn-lg" %>	
</div>
